<main class="container text-center m-8">
    <div class="row align-items-center position-absolute top-50 start-50 translate-middle">
        <div class="col">
            <h2><%= message %></h2>
            <a class="btn btn-primary" href="<%= back_url %>" role="button">Go back</a>
        </div>
    </div>
</main>