<main class="container text-center m-8">
    <div class="row align-items-center position-absolute top-50 start-50 translate-middle">
        <div class="col">
            <h1>DAVbooru</h1>
            <h3>Serving <b><%= media_count %></b> media.</h3>
            <small>Use the navigation bar at the top to start browsing.</small>
        </div>
    </div>
</main>