<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="type" property="og:type" content="website">
    <title><%= site_title || "DAVbooru" %></title>
    <meta name="title" property="og:title" content="<%= site_title || "DAVbooru" %>">
    <meta name="twitter:title" content="<%= site_title || "DAVbooru" %>">
    <% if env.get?("thumb") %>
    <meta property="og:image" content="https://<%= env.request.hostname %><%= env.get? "thumb" %>">
    <meta name="twitter:image" content="https://<%= env.request.hostname %><%= env.get? "thumb" %>">
    <% end %>
    <% if env.get?("desc") %>
    <meta name="description" property="og:description" content="<%= env.get? "desc" %>">
    <meta name="twitter:description" content="<%= env.get? "desc" %>">
    <% else %>
    <meta name="description" property="og:description" content="A private WebDAV imageboard instance.">
    <meta name="twitter:description" content="A private WebDAV imageboard instance.">
    <% end %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        @media (max-width: 992px) {
            .navbar {
                position: fixed;
                bottom: 0;
                width: 100%;
            }

            .position-fixed.bottom-0 {
                bottom: 50px !important;
            }

            .main-media {
                height: 70vh !important;
            }

            main {
                padding-bottom: 80px !important;
            }

            .toast-container {
                top: 0 !important;
                bottom: auto !important;
            }

            #search-form:focus-within {
                top: -75vh;
            }

            #search-form:focus-within::before {
                content: "";
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
            }

            #search-form > .btn:not(:hover, :active, :focus) {
                background: inherit;
            }
        }
    </style>
</head>
<body data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary z-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">DAVbooru</a>
            <div class="d-flex d-lg-none">
                <a class="btn btn-outline-secondary text-decoration-none me-2 d-flex align-items-center justify-content-center" href="#" id="random-post-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dice-3-fill" viewBox="0 0 16 16">
                        <path d="M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3zm2.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m8 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M8 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                    </svg>
                </a>
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/search?q=&p=0">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/albums?q=&p=0">Albums</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/tag">Tags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/favourites">Favourites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/wiki">Wiki</a>
                    </li>
                </ul>
                <form class="d-flex input-group w-auto bg-body-tertiary" role="search" action="/search" method="get" id="search-form">
                    <input class="form-control" name="q" type="search" placeholder="Search for..." aria-label="Search" id="search-box" autocomplete="off">
                    <% search_id = "search-box" %>
                    <%= render "./src/views/components/suggestions.ecr" %>
                    <input type="hidden" name="p" value="0">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    <a class="btn btn-outline-secondary d-flex align-items-center justify-content-center" href="#" id="random-post-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dice-3-fill" viewBox="0 0 16 16">
                            <path d="M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3zm2.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m8 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M8 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                        </svg>
                    </a>
                </form>
            </div>
        </div>
    </nav>
    <%= content %>
    <% if env.flash["toast-enabled"]? %>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast text-bg-<%= env.flash["toast-type"]? || "info" %>" role="alert" aria-live="assertive" aria-atomic="true" id="toast">
            <div class="toast-header">
                <strong class="me-auto"><%= env.flash["toast-title"]? %></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <%= env.flash["toast-body"]? %>
            </div>
        </div>
    </div>
    <% end %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        const url_params = new URLSearchParams(window.location.search);
        const search_text = url_params.get('q') ?? "";

        document.getElementById("search-box").value = search_text;
        document.getElementById("random-post-1").href = `/random?q=${search_text}`;
        document.getElementById("random-post-2").href = `/random?q=${search_text}`;

        document.getElementById("search-box").addEventListener("input", () => {
            let random_search = document.getElementById("search-box").value;
            document.getElementById("random-post-1").href = `/random?q=${random_search}`;
            document.getElementById("random-post-2").href = `/random?q=${random_search}`;
        });

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

        const toastTriggerList = document.querySelectorAll('.toast');
        toastTriggerList.forEach((toastTriggerEl) => {
            const toast = new bootstrap.Toast(toastTriggerEl)
            toast.show()
        });
    </script>
</body>
</html>